doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic')
		link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')
		link(rel='stylesheet', href='stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='stylesheets/font-alfresco.css')
		link(rel='stylesheet', href='stylesheets/site.css')
		block styles
	body
		.phone-number
			i(class="fa fa-phone-square") 
			|  01434 220668
		.brand
			a(href='index.html')
				img(src='images/logo.png', alt='The Fox B&B')
		.container
			.nav
				.row
					.col-lg-12
						ul
							li
								a(href='/', id="home") Home
							li
								a(href='/about', id="about") About
							li 
								a(href='/booking', id="booking") Booking
							li 
								a(href='/findus', id="findus") Find us
							li 
								a(href='/bellingham', id="bellingham") Bellingham
							li
								a(href='/contact', id="contact") Contact
		#main
			block content
		footer
			.container
				.row
					.col-lg-2
						ul
							li
								small
									a(href='/') Home
							li
								small
									a(href='/about') About
							li 
								small
									a(href='/booking') Booking
							li 
								small
									a(href='/findus') Find us
							li 
								small
									a(href='/bellingham') Bellingham
							li
								small
									a(href='/contact') Contact
					.col-lg-8
						iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2280.2621931521994!2d-2.2563182!3d55.143690400000004!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1401535707619", width="700", height="200", frameborder="0", style="border:0")
					.col-lg-2
						p
							| 4 Tyne View <br /> Bellingham <br /> Hexham <br /> Northumberland <br /> NE48 2JP
			.subfooter.clearfix
				.pull-left
					p Designed and hosted by 
						a(target="_blank", href="http://www.c-s-d.co.uk") CSD
				.pull-right
					p &copy; Copyiright 2014 - The Fox B&B Bellingham
		script(type='text/javascript', src='javascripts/jquery-1.11.0-min.js')
		script(type='text/javascript', src='javascripts/bootstrap.min.js')
		script(type='text/javascript', src='javascripts/easing.js')
		script(type='text/javascript', src='javascripts/jquery.ui.totop.min.js')
		script(type='text/javascript', src='javascripts/site.js')
		block scripts
